---
import Icon from '@components/Icon.astro'
import Markdown from '@components/Markdown.astro'

export interface Props {
  title: string
  body: string
  image?: string
  href: string
  meta?: Array<{ icon: string; label: string }>
}

const { body, href, title, image, meta } = Astro.props
---

<a href={href} class="block">
  {image && <img src={image} />}
  <h3 class="text-lg font-semibold">{title}</h3>
  {body && <Markdown body={body} />}
  <br />
  {
    meta && (
      <div class="flex space-x-6 items-center">
        {(meta || []).map(({ icon, label }) => (
          <div class="flex space-x-2 items-center text-secondary-500">
            <span class="w-4">
              <Icon name={icon} />
            </span>
            <span class="text-sm font-semibold">{label}</span>
          </div>
        ))}
      </div>
    )
  }
</a>
