---
import Markdown from '@components/Markdown.astro'

export interface Props {
  title: string
  body: string
  image?: string
  href: string
  meta?: Array<{ icon: string; label: string }>
}

const { body, href, title, image, meta } = Astro.props
---

<a href={href} class="block">
  {image && <img src={image} />}
  <h3 class="text-lg font-semibold">{title}</h3>
  {body && <Markdown body={body} />}
  <br />
  <code>meta?:</code>
  {
    (meta || []).map((i) => (
      <span>
        {i.icon} / {i.label}
      </span>
    ))
  }
  <br />
</a>
