---
import { getSiteConfig } from '@/content/utils/site-config';
import { Button, Logo } from '@components';
import { fieldPath } from '@content';
import { BaseLayout } from '@layouts';

const siteConfig = await getSiteConfig();

const buttons = [
  {
    label: siteConfig.buildings.nav_label,
    href: '/buildings',
    fieldPath: `${siteConfig.stackbit_id}:buildings.nav_label`,
  },
  {
    label: siteConfig.tours.nav_label,
    href: '/tours',
    fieldPath: `${siteConfig.stackbit_id}:tours.nav_label`,
  },
];
---

<BaseLayout title="Home Page">
  <div class="flex items-center justify-center h-screen">
    <div class="p-8 max-w-xl mx-auto w-full shrink-0">
      <div class="mb-12 w-full">
        <Logo />
      </div>
      <div class="text-center sm:flex justify-center sm:space-x-6 max-w-xs mx-auto sm:max-w-none">
        {
          buttons.map((button) => (
            <div class="block mb-4">
              <Button
                href={button.href}
                theme={'secondary'}
                outline={true}
                size={'large'}
                icon={{ name: 'arrow-right', position: 'right' }}
                annotations={{ self: {}, label: fieldPath(button.fieldPath) }}
              >
                {button.label}
              </Button>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
