---
import { PageHeader, CompactCard } from '@components'
import { getTours, Tour } from '@content'
import { PageLayout } from '@layouts'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const tour = Astro.props.tour as Tour
---

<PageLayout title={tour.title} class={{ main: 'bg-gray-100' }}>
  <PageHeader title={tour.title} image={tour.image} size="lg" />

  <div class="max-w-7xl mx-auto relative py-16">
    <a href={tour.mapUrlPath}>Map View</a>

    <div class="max-w-4xl">
      <h2 class="font-bold text-3xl mb-6">Buildings on the Tour</h2>
      <div class="grid grid-cols-2 gap-6">
        {
          tour.buildings.map((building) => (
            <CompactCard
              title={building.title}
              image={building.featuredImage}
              excerpt={building.excerpt.html}
              href={building.urlPath}
            />
          ))
        }
      </div>
    </div>
  </div>
</PageLayout>
