---
import { CardMetaAttribute, CardStatusBadges, Link } from '@components';
import { Building, fieldPath, objectId } from '@content';

export interface Props extends Building {}

const props = Astro.props as Props;
---

<Link
  href={props.url_path}
  className="block bg-white shadow-md relative"
  annotations={{ self: objectId(props.stackbit_id), label: {} }}
>
  {
    props.featured_image && (
      <div class="rounded-full absolute top-[-2rem] left-[1rem] w-16 h-16 overflow-hidden border-2 border-black">
        {/*<ResponsiveImage
          src={props.featured_image.card_thumb}
          className="object-cover h-full w-full object-center"
        />*/}
      </div>
    )
  }
  <div class="pt-12 pb-4 px-4">
    <CardStatusBadges draft={props.draft} validation_errors={props.validation_errors} />
    <h3 class="text-lg font-semibold mb-2" {...fieldPath('title')}>{props.title}</h3>
    {
      props.excerpt?.html?.length > 0 && (
        <div class="mb-4" set:html={props.excerpt?.html} {...fieldPath('markdown_content')} />
      )
    }

    <div class="flex space-x-6 items-center">
      <CardMetaAttribute
        icon="calendar"
        labelPrefix="Built"
        label={props.completion_date || '[not set]'}
        annotations={{ label: fieldPath('completion_date') }}
      />
      <CardMetaAttribute
        icon="eye"
        label={props.tours.length.toString()}
        labelSuffix={`Tour${props.tours.length === 1 ? '' : 's'}`}
      />
    </div>
  </div>
</Link>
