---
import { Button, HeaderLink, Icon, IconProps, Logo } from '@components'

const desktopLinks: Array<{ href: string; label: string; button?: boolean }> = [
  { href: '/buildings', label: 'Building List' },
  { href: '/tours', label: 'Walking Tours' },
  { href: 'https://www.designlearnandbuild.org/donate', label: 'Donate', button: true },
]

const mobileLinks: Array<{ href: string; icon: IconProps['name']; button?: boolean }> = [
  { href: '/buildings', icon: 'building' },
  { href: '/tours', icon: 'eye' },
  { href: 'https://www.designlearnandbuild.org/donate', icon: 'donate', button: true },
]
---

<header class="max-w-7xl mx-auto px-4 py-6">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <a
        class="flex space-x-2 items-center mb-4 text-secondary-500 text-xs font-semibold"
        href="https://www.designlearnandbuild.org/"
      >
        <span class="block w-3"><Icon name="arrow-left" /></span>
        <span>Back to Site</span>
      </a>
      <a class="inline-block w-48" href="/">
        <Logo />
      </a>
    </div>
    <div class="space-x-6 justify-between items-center hidden md:flex">
      {
        desktopLinks.map((link) => {
          if (link.button) return <Button href={link.href}>{link.label}</Button>
          return <HeaderLink href={link.href}>{link.label}</HeaderLink>
        })
      }
    </div>
    <div class="space-x-4 justify-between items-center flex md:hidden">
      {
        mobileLinks.map((link) => {
          if (link.button) {
            return (
              <Button href={link.href}>
                <span class="block w-8">
                  <Icon name={link.icon} />
                </span>
              </Button>
            )
          }
          return (
            <HeaderLink href={link.href}>
              <span class="block w-8">
                <Icon name={link.icon} />
              </span>
            </HeaderLink>
          )
        })
      }
    </div>
  </div>
</header>
