---
import { Icon, IconProps } from '@components'
import { CloudinaryImage } from '@content'

export interface Props {
  title: string
  icon?: IconProps['name']
  theme?: 'primary' | 'secondary'
  image?: CloudinaryImage
  size?: 'sm' | 'md' | 'lg'
}

const { title, icon, theme = 'primary', image, size = 'md' } = Astro.props

const themeClassMap: { [K in Exclude<Props['theme'], undefined | null>]: string } = {
  primary: 'bg-primary-500 text-white',
  secondary: 'bg-secondary-500 text-white',
}

const sizeClassMap: { [K in Exclude<Props['size'], undefined | null>]: string } = {
  sm: 'py-4 px-4 text-3xl',
  md: 'py-10 px-4 text-4xl',
  lg: 'py-20 px-4 text-5xl',
}

let style = {}
if (image) {
  style = {
    backgroundImage: `url(${image.square.small})`,
    backgroundSize: 'cover',
    backgroundPosition: 'center',
  }
}
---

<div class={`relative ${sizeClassMap[size]} ${themeClassMap[theme]}`} style={style}>
  {image && <div class="absolute bg-black opacity-50 top-0 left-0 w-full h-full" />}
  <div class="max-w-7xl mx-auto relative">
    <div class="flex justify-start items-center space-x-3">
      {
        icon && (
          <span class="inline-block w-12">
            <Icon name={icon} />
          </span>
        )
      }
      <h1 class="font-black">{title}</h1>
    </div>
  </div>
</div>
