---
import { Building, getBuildings } from '@content'
import {
  PageHeader,
  ResponsiveImage,
  BuildingAttributeSection,
  BuildingRenovationSection,
} from '@components'
import { PageLayout } from '@layouts'

export async function getStaticPaths() {
  const buildingsEntries = await getBuildings()
  return buildingsEntries.map((building) => ({
    params: { slug: building.slug },
    props: { building },
  }))
}

const building = Astro.props.building as Building

const sectionMap = {
  BuildingAttributeSection,
  BuildingRenovationSection,
}

const renderSections = (page_location: Building['sections'][0]['page_location']) => {
  return (building.sections || [])
    .filter((section) => section.page_location === page_location)
    .map((section) => {
      // There's probably a better way to type this, but it was throwing an
      // error while rendering the component dynamically in the template.
      const Component = sectionMap[section.type] as (_props: any) => any
      return { Component, props: section }
    })
}

const sections = {
  above_images: renderSections('above_images'),
  below_images: renderSections('below_images'),
  above_map: renderSections('above_map'),
  below_map: renderSections('below_map'),
}
---

<PageLayout title={building.title}>
  <PageHeader title={building.title} image={building.featuredImage} size="lg" />

  <div class="max-w-7xl mx-auto relative">
    <div class="grid md:grid-cols-12 gap-16 py-16 px-4">
      <div class="md:col-span-7">
        {
          building.body.html.length > 0 && (
            <div
              class="text-lg mb-12 [&_a]:text-primary-500 [&_a]:border-b [&_a]:border-b-primary-500 [&_a]:inline-block [&_a]:leading-4"
              set:html={building.body.html}
            />
          )
        }

        <!-- TODO: above_image -->

        {
          sections.above_images.map(({ Component, props }) => (
            <Component {...props} className="mb-12" />
          ))
        }

        <!-- {
          building.hasPrimaryAttributes && (
            <div class="grid grid-cols-2 gap-x-10 gap-y-6 mb-12">
              <Stat label="Historic Status" value={building.historic_status} />
              <Stat label="Current Owner" value={building.current_owner} />
              <Stat label="Unique Features" value={building.unique_features} class="col-span-2" />
            </div>
          )
        } -->
        {
          building.images && (
            <div class="grid sm:grid-cols-2 gap-6">
              {building.images.map((image) => (
                <ResponsiveImage src={image.gallery_item} />
              ))}
            </div>
          )
        }

        <!-- TODO: below_image -->
      </div>
      <div class="md:col-span-5">
        <!-- {
          building.hasSecondaryAttributes && (
            <div class="grid grid-cols-2 gap-x-8 gap-y-6 mb-12">
              <Stat label="Completed" value={building.date_of_completion} />
              <Stat label="Original Owner" value={building.original_owner} />
              <Stat label="Architect" value={building.architect} />
              <Stat label="Style" value={building.style} />
            </div>
          )
        } -->

        <!-- TODO: above_map -->

        {
          building.static_map && (
            <div class="mb-12 relative">
              <ResponsiveImage src={building.static_map.sidebar} className="w-full border" />
              {building.address && (
                <div class="absolute top-0 left-0 z-10 p-3 text-sm bg-secondary-500/20 text-black/70 rounded-br-sm">
                  {building.address}
                </div>
              )}
            </div>
          )
        }

        <!-- TODO: below_map -->
      </div>
    </div>
  </div>
</PageLayout>
