---
import { Building, getBuildings, fieldPath, objectId } from '@content'
import {
  PageHeader,
  ResponsiveImage,
  BuildingAttributeSection,
  BuildingRenovationSection,
  ValidationErrors,
} from '@components'
import { PageLayout } from '@layouts'

export async function getStaticPaths() {
  const buildingsEntries = await getBuildings()
  return buildingsEntries.map((building) => ({
    params: { slug: building.slug },
    props: { building },
  }))
}

const building = Astro.props.building as Building

const sectionMap = {
  BuildingAttributeSection,
  BuildingRenovationSection,
}

const renderSections = (page_location: Building['sections'][0]['page_location']) => {
  return (building.sections || [])
    .filter((section) => section.page_location === page_location)
    .map((section) => {
      // There's probably a better way to type this, but it was throwing an
      // error while rendering the component dynamically in the template.
      const Component = sectionMap[section.type] as (_props: any) => any
      return {
        Component,
        props: section,
        fieldPath: `sections.${building.sections.indexOf(section)}`,
      }
    })
}

const sections = {
  above_images: renderSections('above_images'),
  below_images: renderSections('below_images'),
  above_map: renderSections('above_map'),
  below_map: renderSections('below_map'),
}
---

<PageLayout title={building.title} bodyAnnotations={objectId(building.stackbitId)}>
  <PageHeader
    title={building.title}
    image={building.featuredImage}
    size="lg"
    annotations={{ title: fieldPath('title') }}
  />

  <div class="max-w-7xl mx-auto relative">
    {
      building.validation_errors && (
        <div class="max-w-4xl mx-auto px-4 my-8">
          <ValidationErrors errors={building.validation_errors} draft={building.draft} />
        </div>
      )
    }
    <div class="grid md:grid-cols-12 gap-16 py-16 px-4">
      <div class="md:col-span-7">
        {
          building.body.html.length > 0 && (
            <div
              class="text-lg mb-12 [&_a]:text-primary-500 [&_a]:border-b [&_a]:border-b-primary-500 [&_a]:inline-block [&_a]:leading-4"
              set:html={building.body.html}
              {...fieldPath('markdown_content')}
            />
          )
        }
        {
          sections.above_images.map(({ Component, props, fieldPath }) => (
            <Component {...props} className="mb-12" fieldPath={fieldPath} />
          ))
        }
        {
          building.images && (
            <div class="grid sm:grid-cols-2 gap-6">
              {building.images.map((image) => (
                <ResponsiveImage src={image.gallery_item} />
              ))}
            </div>
          )
        }
        {
          sections.below_images.map(({ Component, props, fieldPath }) => (
            <Component {...props} className="mt-12" fieldPath={fieldPath} />
          ))
        }
      </div>
      <div class="md:col-span-5">
        {
          sections.above_map.map(({ Component, props, fieldPath }) => (
            <Component {...props} className="mb-8" fieldPath={fieldPath} />
          ))
        }
        {
          building.static_map && (
            <div class="mb-12 relative">
              <ResponsiveImage src={building.static_map.sidebar} className="w-full border" />
              {building.address && (
                <div class="absolute top-0 left-0 z-10 p-3 text-sm bg-secondary-500/20 text-black/70 rounded-br-sm">
                  {building.address}
                </div>
              )}
            </div>
          )
        }
        {
          sections.below_map.map(({ Component, props, fieldPath }) => (
            <Component {...props} className="mb-8" fieldPath={fieldPath} />
          ))
        }
      </div>
    </div>
  </div>
</PageLayout>
