---
import { Building, getBuildings } from '@content'
import { Stat, PageHeader, ResponsiveImage } from '@components'
import { PageLayout } from '@layouts'

export async function getStaticPaths() {
  const buildingsEntries = await getBuildings()
  return buildingsEntries.map((building) => ({
    params: { slug: building.slug },
    props: { building },
  }))
}

const building = Astro.props.building as Building
---

<PageLayout title={building.title}>
  <PageHeader title={building.title} image={building.featuredImage} size="lg" />

  <div class="max-w-7xl mx-auto relative">
    <div class="grid grid-cols-12 gap-16 py-16 px-4">
      <div class="col-span-7">
        {
          building.body.html.length > 0 && (
            <div class="text-lg mb-12" set:html={building.body.html} />
          )
        }
        {
          building.hasPrimaryAttributes && (
            <div class="grid grid-cols-2 gap-x-10 gap-y-6 mb-12">
              <Stat label="Historic Status" value={building.historic_status} />
              <Stat label="Current Owner" value={building.current_owner} />
              <Stat label="Unique Features" value={building.unique_features} class="col-span-2" />
            </div>
          )
        }
        {
          building.images && (
            <div class="grid grid-cols-2 gap-6">
              {building.images.map((image) => (
                <ResponsiveImage src={image.square} />
              ))}
            </div>
          )
        }
      </div>
      <div class="col-span-5">
        {
          building.hasSecondaryAttributes && (
            <div class="grid grid-cols-2 gap-x-8 gap-y-6 mb-12">
              <Stat label="Completed" value={building.date_of_completion} />
              <Stat label="Original Owner" value={building.original_owner} />
              <Stat label="Architect" value={building.architect} />
              <Stat label="Style" value={building.style} />
            </div>
          )
        }
        {
          building.static_map && (
            <div class="mb-12">
              <ResponsiveImage src={building.static_map.square} className="w-full" />
            </div>
          )
        }
        <div>Renovation history goes here ...</div>
      </div>
    </div>
  </div>
</PageLayout>
