---
import { getTours } from '@content'
import { Layout } from '@layouts'

export async function getStaticPaths() {
  const toursEntries = await getTours()
  return toursEntries.map((tour) => ({
    params: { slug: tour.slug },
    props: { tour },
  }))
}

const { tour } = Astro.props
---

<Layout title={tour.title}>
  <h1>{tour.title}</h1>

  <a href={tour.mapUrlPath}>Map View</a>

  <h2>Buildings</h2>
  <ul>
    {
      tour.buildings.map((building) => (
        <li>
          <a href={building.urlPath}>{building.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
