---
import { getTours } from '@content'

import Layout from '@layouts/Layout.astro'

import PageHeader from '@components/PageHeader.astro'
import TourCard from '@components/Card/Tour.astro'

const tours = await getTours()
---

<Layout title="Tours List">
  <PageHeader title="Walking Tours" theme="primary" icon="eye" />

  <div class="bg-gray-100 py-8">
    <div
      class="max-w-7xl px-4 mx-auto py-12 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-16 gap-x-8"
    >
      {
        tours.map((tour) => (
          <TourCard
            title={tour.title}
            href={tour.urlPath}
            excerpt={tour.description.html}
            image={tour.image}
            icon={tour.icon}
            meta={[
              {
                icon: 'building',
                label: `${tour.buildings.length} buildings`,
              },
              {
                icon: 'clock',
                label: tour.time_estimate,
              },
            ]}
          />
        ))
      }
    </div>
  </div>
</Layout>
