---
import { getSiteConfig } from '@/content/utils/site-config';
import { PageHeader, TourCard } from '@components';
import { fieldPath, getTours } from '@content';
import { PageLayout } from '@layouts';

const tours = await getTours();

const siteConfig = await getSiteConfig();
---

<PageLayout title={siteConfig.tours.page_label}>
  <PageHeader
    title={siteConfig.tours.page_label}
    theme={siteConfig.tours.page_header_theme}
    icon={siteConfig.tours.page_icon}
    annotations={{ title: fieldPath(`${siteConfig.stackbit_id}:tours.page_label`) }}
  />

  <div class="bg-gray-100 py-8">
    <div
      class="max-w-7xl px-4 mx-auto py-12 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-16 gap-x-8"
    >
      {tours.map((tour) => <TourCard {...tour} />)}
    </div>
  </div>
</PageLayout>
