---
import { getSiteConfig } from '@/content/utils/site-config'
import { BuildingCard, PageHeader } from '@components'
import { Building, fieldPath } from '@content'
import { PageLayout } from '.'

export interface Props {
  buildings: Building[]
}

const { buildings } = Astro.props

const siteConfig = await getSiteConfig()
---

<PageLayout title={siteConfig.buildings.page_label}>
  <PageHeader
    title={siteConfig.buildings.page_label}
    theme={siteConfig.buildings.page_header_theme}
    icon={siteConfig.buildings.page_icon}
    annotations={{ title: fieldPath(`${siteConfig.stackbitId}:buildings.page_label`) }}
  />

  <div class="bg-gray-100 pt-8">
    <div
      class="max-w-7xl px-4 mx-auto py-12 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-16 gap-x-8"
    >
      {buildings.map((building) => <BuildingCard {...building} />)}
    </div>
  </div>
</PageLayout>
